body {
margin: 0;
padding: 0;
text-align: center;
background: #fff;
  font: 100% system-ui;
}


@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      --text-color: rgb(136, 136, 136);
      --bkg-color: #000000;
    }
    
    body.light-theme {
      --text-color: rgb(0, 0, 0);
      --bkg-color: #fff;
    }
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1,
  p,
  .form-title,
  .form-check-label,
  .form-section,
  #clock,
  a {
    color: var(--text-color);
  }


.invalid-feedback{
    color:rgb(163, 106, 0) !important;
}

.form-check-label{
    color:rgb(163, 106, 0) !important;
}



 #panel, #form-flip {
  padding: 5px;
  text-align: center;

}

#panel {
  padding: 50px;
  display: none;
}

#flip{
    margin: auto;
  width: 20%;
    align-items: right;
cursor: pointer;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
    border-bottom: 1px solid grey;
}



.sub-header-container {
    margin-top: 1rem;
    margin: 0, 2rem;
}


.sub-header {
    margin: 5rem, 5rem, 5rem, 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}




.button-group-1{
margin-left: 8rem;
margin-bottom: 1rem;


}


.button-group-2{
    margin-right: 8rem;
    margin-bottom: 1rem;
    
}

 button:hover {
    background-color: #7a809c;
  }

 
.form-title{
    margin:1vw;
}
.form-section{
    margin: 5vw 5vw;
    border: 1px solid;
    border-radius: 15px;
}

.form-container{
    margin: 5vw 15vw;
    border-radius: 15px;
}


.submit-button{
    
    background-color: #112e51;
  border: 1px solid #112e51; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
}


#clock {
    position: relative;
    text-align: right;
    font-size: 14px;
    margin-top: 15vw;
    margin-right: 0;
    padding-right: 0;
    border: 0;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 10%;
  
  }

  .footer-info {
    position: relative;
    display: inline-block;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 25px;
    margin: 5px;
    
  }


.made-by-text{
position: relative;
display: block;
font-size: 14px;
}


/* **************************************** Media Queries **************************************** */

@media only screen and (max-width:770px){
    .btn-outline-secondary { width:auto; display:block; }
    .btn-outline-secondary { margin-bottom:15px; margin-right:2%;}
    .btn-secondary { width:auto; display:block; }
    .btn-secondary { margin-bottom:15px; margin-right:2%; font-size: 75% !important; }
}


@media only screen and (max-width:320px){
    .btn-outline-secondary { width:auto; display:block; }
    .btn-outline-secondary { margin-bottom:15px; margin-right:2%; font-size:16px; }
    .btn-outline-secondary { margin-bottom:15px; font-size:12px; }
    .btn-secondary { width:auto; display:block; }
    .btn-secondary { margin-bottom:15px; margin-right:2%; font-size:16px; }
    .btn-secondary { margin-bottom:15px; font-size:12px; }
    .button-group-1 { margin-right: 30%; margin-left: 20%;}
    .title-header {font-size: 3em;}
}

@media only screen and (max-width: 405px){
    .btn-outline-secondary { width:auto; display:block; }
    .btn-outline-secondary { margin-bottom:15px; margin-right:2%; font-size:16px; }
    .btn-outline-secondary { margin-bottom:15px; font-size:12px; }
    .btn-secondary { width:auto; display:block; }
    .btn-secondary { margin-bottom:15px; margin-right:2%; font-size:16px; }
    .btn-secondary { margin-bottom:15px; font-size:12px; }
    .button-group-1 { margin-right: 30%; margin-left: 20%;}
    #clock {font-size: 10px;}
}


@media only screen and (max-width: 300px){
    p {font-size: 12px;}
    #clock {font-size: 8px;}
}
